<nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Bangladesh Health Monitor</a>
    <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item <%= (page === 'home') ? 'active' : '' %>">
                <a class="nav-link" href="<%= url %>">Home <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item <%= (page === 'Single Entry') ? 'active' : '' %>">
                <a class="nav-link" href="<%= url %>entry">Single Entry <span class="sr-only"></span></a>
            </li>
        </ul>
        <div class="mt-2 mt-md-0" style="margin-right: 30px">
            <ul class="navbar-nav">
                <li class="nav-item dropdown float-right">
                    <a class="dropdown-item" href="<%= url %>logout">Logout </a>
                </li>
            </ul>
        </div>
    </div>
</nav>