<!doctype html>
<%- include ('partials/header.ejs'); %>

    <div id="app">
        <div class="row" style="margin: 100px">
            <div class="col-sm-10" style="text-align: center;">
                <h1>Upload Disease Data</h1>
            </div>

            <div class="col-sm-10">
                <!-- <form method="post" action="<%= url %>AddMedicalInfo"> -->
                <form>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Patient Name</label>
                        <input type="text" class="form-control" placeholder="Patient Name" name="patient_name"
                            v-model="patient_name">
                    </div>

                    <div class="form-group">
                        <label for="inputState">Gender</label>
                        <select id="inputState" class="form-control" name="gender" v-model="gender">
                            <option value="M" selected>Male</option>
                            <option value="F">Female</option>=
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="inputDisease">Diseases</label>
                        <select id="inputDisease" class="form-control" name="disease" v-model="selected_disease_id">
                            <option value="0">Select a Diseases</option>
                            <option v-for="(disease, index) in diseases" :key="index" value="disease.id">
                                {{disease.disease_name}}</option>
                        </select>
                    </div>


                    <div class="form-group">
                        <label for="inputDivision">Division</label>
                        <select id="inputDivision" class="form-control" @change="getDistrictByDivisionId"
                            v-model="selected_division_id" name="division">
                            <option value="0">Select a Division</option>
                            <option v-for="(division, index) in divisions" :key="index" :value="division.id">
                                {{division.name}}</option>
                        </select>
                    </div>

                    <div class="form-group" v-if="districts.length > 0">
                        <label for="inputDistrict">District</label>
                        <select id="inputDistrict" class="form-control" @change="getUpzilaByIdDistrictId"
                            v-model="selected_district_id" name="district">
                            <option v-for="(district, index) in districts" :key="index" :value="district.id">
                                {{district.name}}</option>
                        </select>
                    </div>


                    <div class="form-group" v-if="upazilas.length > 0">
                        <label for="inputUpazilas">Upazila</label>
                        <select id="inputUpazilas" class="form-control" v-model="selected_upazila_id" name="upazela">
                            <option v-for="(upazila, index) in upazilas" :key="index" :value="upazila.id">
                                {{upazila.name}}</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary" style="margin-top: 10px;">Submit</button>
                    </div>

                </form>
            </div>

            <div class="col-sm-10">
                <h5 style="color: green">
                    <%= message %>
                </h5>
            </div>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
        integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
        crossorigin="anonymous"></script>


    <script>
        new Vue({
            el: '#app',
            data() {
                return {
                    patient_name: "",
                    gender: "M",
                    diseases: [],
                    divisions: [],
                    districts: [],
                    upazilas: [],
                    selected_disease_id: 0,
                    selected_division_id: 0,
                    selected_district_id: 0,
                    selected_upazila_id: 0,
                }
            },
            mounted() {
                axios
                    .get('http://localhost:3001/api/v1/totalDisease')
                    .then(response => {
                        if (response.data.success === true) {
                            this.diseases = response.data.data
                        }
                        else this.diseases = [];
                    });

                axios
                    .get('http://localhost:3001/api/v1/divisionList')
                    .then(response => {
                        if (response.data.success === true) {
                            this.divisions = response.data.data;
                            // this.selected_division_id = this.divisions.length > 0 ? this.divisions[0].id : 0;
                            // this.getDistrictByDivisionId();
                        }
                        else this.divisions = [];
                    })

            },
            computed: {
            },
            methods: {
                async getDistrictByDivisionId() {
                    this.districts = [];
                    this.upazilas = [];
                    this.selected_district_id = 0,
                        this.selected_upazila_id = 0,

                        await axios({
                            method: 'post',
                            url: 'http://localhost:3001/api/v1//getDistrictByDivisionId',
                            data: {
                                division_id: this.selected_division_id,
                            }
                        }).then(async (response) => {
                            if (response.data.success === true) {
                                this.districts = response.data.data;
                                this.selected_district_id = this.districts.length > 0 ? this.districts[0].id : 0;
                            }
                            else this.districts = [];
                            await this.getUpzilaByIdDistrictId();
                        }).catch(function (response) {
                            console.log(response);
                        });
                },

                async getUpzilaByIdDistrictId() {
                    this.upazilas = [];
                    this.selected_upazila_id = 0,

                        await axios({
                            method: 'post',
                            url: 'http://localhost:3001/api/v1/getUpzilaByDistrictId',
                            data: {
                                district_id: this.selected_district_id,
                            }
                        }).then((response) => {
                            if (response.data.success === true) {
                                this.upazilas = response.data.data;
                                this.selected_upazila_id = this.upazilas.length > 0 ? this.upazilas[0].id : 0;
                            }
                            else this.upazilas = [];
                        }).catch(function (response) {
                            console.log(response);
                        });
                },

                async submitData() {
                    await axios({
                        method: 'post',
                        url: 'http://localhost:3001/api/v1/addHealthData',
                        data: {
                            selected_district_id: this.selected_district_id,
                            selected_disease_id: this.selected_disease_id,
                            selected_division_id: this.selected_division_id,
                            selected_upazila_id: this.selected_upazila_id
                        }
                    }).then((response) => {

                        console.log(response.data)
                        // if (response.data.success === true) {
                        //     this.upazilas = response.data.data;
                        //     this.selected_upazila_id = this.upazilas.length > 0 ? this.upazilas[0].id : 0;
                        // }
                        // else this.upazilas = [];
                    }).catch(function (response) {
                        console.log(response);
                    });
                }
            }
        })
    </script>

    </body>

    </html>