<!doctype html>
<%- include ('partials/header.ejs'); %>

  <div class="row" style="margin: 100px">
    <div class="col-sm-10">
      <h1>Upload Excel File Only</h1>
    </div>

    <div class="col-sm-10">
      <form method="post" action="<%= url %>upload_bulk_data" enctype="multipart/form-data">
        <input type="file" class="custom-file-input" id="customFile" name="updateFile">
        <label class="custom-file-label" name="file" for="customFile">Choose file</label>
        <button type="submit" class="btn btn-primary" style="margin-top: 10px;">Submit</button>

      </form>
    </div>

    <div class="col-sm-10">
      <h5 style="color: green">
        <%= message %>
      </h5>
      <% if(success == false){ %>
        <!-- <h1> <%= error_data %></h1> -->
        
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Row</th>
              <th scope="col">Error</th>
              <th scope="col">Name</th>
              <th scope="col">Age</th>
              <th scope="col">Gender</th>
              <th scope="col">Duration</th>
              <th scope="col">Disease Type</th>
              <th scope="col">Divisions</th>
              <th scope="col">Date</th>
              <th scope="col">Season</th>
            </tr>
          </thead>
          <tbody>
            <% for(var i=0; i < error_data.length; i++) { %>
            <tr>
              <th scope="row">1</th>
              <td><%= error_data[i].row %></td>
              <td><%= error_data[i].error %></td>
              <td><%= error_data[i].data.NAME %></td>
              <td><%= error_data[i].data.AGE %></td>
              <td><%= error_data[i].data.Gender %></td>
              <td><%= error_data[i].data.Duration %></td>
              <td><%= error_data[i].data['Types of Diseases'] %></td>              
              <td><%= error_data[i].data.Divisions %></td>
              <td><%= error_data[i].data.Date %></td>
              <td><%= error_data[i].data.Season %></td>
            </tr>
            <% } %>
          </tbody>
        </table>
        
     <% } %>
     
      
    </div>
  </div>

  <script>
    // Add the following code if you want the name of the file appear on select
    $(".custom-file-input").on("change", function () {
      var fileName = $(this).val().split("\\").pop();
      $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });
  </script>

  </body>

  </html>