<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>BHM | Login</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <!-- <link rel='stylesheet' type='text/css' media='screen' href='main.css'> -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!-- <script src='main.js'></script> -->

    <style>
        body {
            background-color: aquamarine;
        }
    </style>
</head>

<body>



    <section class="login-block" style="margin-top: 9%">
        <div class="container">
            <div class="row">
                <div class="col-md-4 login-sec">
                    <h2 class="text-center">Login</h2>
                    <br> <br>
                    <form class="login-form" method="post" action="<%= url %>/login">
                        <div class="form-group">
                            <label for="exampleInputEmail1" class="text-uppercase">User Email</label>
                            <input type="text" name="email" class="form-control" placeholder="">

                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1" class="text-uppercase">Password</label>
                            <input type="password" name="password" class="form-control" placeholder="">
                        </div>

                        <div>
                            <%if (success==true) { %>
                                <p style="color: brown; text-align: center;">
                                    <%= message %>
                                </p>
                            <% } %>

                        </div>

                        <div class="form-check">
                            <label class="form-check-label">
                                <!-- <input type="checkbox" class="form-check-input">
                            <button type="submit" class="btn btn-login float-right">Submit</button> -->
                            </label>
                            <button type="submit" class="btn btn-login float-right">Submit</button>
                        </div>

                    </form>
                    <div class="copy-text">Powered <i class="fa fa-heart">By </i><a
                            href="https://www.medinatech.co/desktop/index.php">Medina Tech</a> </div>
                </div>
                <div class="col-md-8 banner-sec">
                    <div id="" class="carousel slide" data-ride="carousel">
                        <!-- <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol> -->
                        <div class="" role="listbox">
                            <div class="carousel-item active">
                                <img class="d-block img-fluid"
                                    src="https://freesvg.org/img/Bangladesh_Political_Map.png" alt="First slide">
                                <div class="carousel-caption d-none d-md-block">
                                    <div class="banner-text">
                                        <!-- <h2>This is Heaven</h2>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                        nostrud exercitation</p> -->
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
    </section>
</body>

</html>