.svg-map {
  width: 100%;
  height: auto;
  stroke: #666;
  stroke-width: 1;
  stroke-linecap: round;
  stroke-linejoin: round; }
  .svg-map__location {
    fill: #C1C1C1!important;
    cursor: pointer; }
    .svg-map__location:focus, .svg-map__location:hover {
      fill: #C1C1C1!important;
      outline: 0; }
    .svg-map__location[aria-checked=true] {
      fill: #C1C1C1; }

