body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

.jriPuz > .wrapper {
  z-index: 500 !important;
}
.MuiTablePagination-spacer {
   flex: none!important;
}
.membershipHeader {
  width: 100%;
  margin-top: 0px;
  text-align: center !important;
  font: normal normal bold 17px/23px Roboto;
  letter-spacing: 0px;
  color: #000000;
}
.MuiGrid-spacing-xs-2 {
  width: calc(100% + 16px);
  margin: -8px;
  margin-bottom: 30px !important;
}
.membershipBox {
  margin-top: 50px !important;
  text-align: center !important;
  font: normal normal normal 12px/16px Roboto !important;
  letter-spacing: 0px;
  color: #ffffff !important;
  opacity: 0.7;
}
.membershipTxt {
  margin-top: 50px;
  text-align: center;
  font: normal normal bold 17px/23px Roboto;
  letter-spacing: 0px;
  color: #000000;
}
.paperMembership {
  background: #484848 0% 0% no-repeat padding-box;
  border-radius: 15px;
  opacity: 1;
  text-align: center;
  font: normal normal normal 12px/20px Roboto;
  letter-spacing: 0px;
  color: #ffffff;
}
.popSearch {
  width: 20%;
  margin-top: -40px;
  height: 35px !important;
  position: absolute;
  right: 150px;
}
.popupHeader {
  width: 100%;
  display: flex;
  background: #e8e8e8 0% 0% no-repeat padding-box !important;
  border-radius: 10px 10px 0px 0px !important;
}
.modal {
  border-radius: 10px 10px 0px 0px !important;
}
.PrivateTabIndicator-colorSecondary-89 {
  background-color: #000 !important;
  height: 3px !important;
  margin-left: 15px !important;
  width: 130px !important;
}
.MuiTab-wrapper {
  font-weight: bold !important;
}
.upBtn {
  background: #373737 0% 0% no-repeat padding-box !important;
  border-radius: 10px !important;
  text-align: center !important;
  font: normal normal normal 14px/21px Poppins !important;
  letter-spacing: 0px !important;
  color: #ffffff !important;
  width: 22% !important;
  margin-right: 5px !important;
  margin-left: 5px !important;
}
.upBtnSecond {
  position: absolute !important;
  background: #373737 0% 0% no-repeat padding-box !important;
  border-radius: 10px !important;
  text-align: center !important;
  font: normal normal normal 14px/21px Poppins !important;
  letter-spacing: 0px !important;
  color: #ffffff !important;
  width: 9% !important;
  margin-right: 5px !important;
  margin-left: 5px !important;
  margin-top: -65px !important;
  right: 10px;
  height: 35px !important;
}
.shareBtn {
  width: 120px !important;
  margin-right: 5px !important;
  margin-left: 5px !important;
  background: #ffffff 0% 0% no-repeat padding-box !important;
  border: 1px solid #0088ff !important;
  border-radius: 10px !important;
  font: normal normal 600 14px/21px Poppins !important;
  letter-spacing: 0px !important;
  color: #0088ff !important;
  text-align: center !important;
  opacity: 1 !important;
}
.shareBtn:hover {
  color: #ffffff !important;
  background: #0088ff 0% 0% no-repeat padding-box !important;
}
.downloadBtn {
  width: 180px !important;
  margin-left: 5px !important;
  margin-right: 5px !important;
  background: #0088ff 0% 0% no-repeat padding-box !important;
  border-radius: 10px !important;
  text-align: center;
  font: normal normal normal 14px/21px Poppins !important;
  letter-spacing: 0px;
  color: #ffffff !important;
}
.uploadInput {
  margin: 0;
  padding: 1rem 1rem;

  background: #ffffff 0% 0% no-repeat padding-box !important;
  border: 2px solid #d9d9d9 !important;
  border-radius: 5px !important;
  opacity: 1;
  font: normal normal bold 14px/19px Roboto !important;
  letter-spacing: 0px;
}
.uploadInput:focus + label {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}
.uploadTxt {
  font: normal normal bold 12px/16px Roboto;
  letter-spacing: 0px;
  color: #ff4326;
  opacity: 1;
}

.uploadButton {
  margin-top: -30px !important;
  right: 20px;
  position: absolute !important;
  background: #ff4326 0% 0% no-repeat padding-box !important;
  border-radius: 5px !important;
  opacity: 1;
  text-align: center !important;
  font: normal normal bold 14px/19px Roboto !important;
  letter-spacing: 0px;
  color: #ffffff !important;
}
.dataTableSearch {
  margin-top: 10px;
  margin-left: 10px;
  width: 250px;
  height: 40px !important;
}
.marginSelect {
  margin-right: 10px !important;
  margin-left: 20px !important;
  min-width: 24% !important;
}
.rightAlignn {
  margin: 10px;
  height: 30px;
  width: 70px !important;
  position: absolute !important;
  right: 13%;
  margin-top: 30px !important;
  // top: 30%;
}
.rSelect {
  width: 100%;
  background-color: white;
  color: "#444";
  border-bottom-color: #000000;
  text-align: left;
  margin-top: 40px;
}
.helpText {
  font: normal normal bold 12px/16px Roboto;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 0.7;
  margin-right: 10px;
}
.logoUserPanel,
.logoUserPanel:hover {
  font: normal normal bold 12px/18px Poppins;
  letter-spacing: 0px;
  color: #fafafa;
  opacity: 1;
  background: transparent;
  display: block;
  margin: auto;
}

.middleTxt {
  text-align: center;
  font: normal normal bold 15px/20px Roboto;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 0.5;
  margin-left: 20px;
  margin-top: -10px;
  margin-right: 30px;
  display: inline-block;
  position: relative;
}
.middleTxt:after {
  position: absolute;
  content: "";
  border-bottom: 3px solid #fff;
  transform: translateX(-50%);
  bottom: -15px;
  left: 50%;
  width: 40px;
}

.membershipHeaderTxt {
  margin-top: 30px !important;
  text-align: center;
  font: normal normal bold 15px/20px Roboto !important;
  letter-spacing: 0px;
  color: #ffffff !important;
  display: inline-block;
  position: relative;
}
.membershipHeaderTxt:after {
  position: absolute;
  content: "";
  border-bottom: 3px solid #fff !important;
  transform: translateX(-50%);
  bottom: -5px;
  left: 50%;
  width: 20px;
}

.tableHeaderTxt,
.unselectedTxt {
  text-align: center;
  font: normal normal bold 15px/20px Roboto;
  letter-spacing: 0px;
  color: #373737;
  opacity: 0.5;
  margin-left: 30px;
  margin-top: 20px;
  margin-right: 30px;
  display: inline-block;
  position: relative;
}
.tableHeaderTxt:after {
  position: absolute;
  content: "";
  border-bottom: 3px solid rgb(0, 0, 0);
  transform: translateX(-50%);
  bottom: 0px;
  left: 50%;
  width: 130px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  color: rgba(255, 0, 221, 0.863);
  font-size: 16px;
  // color: rgba(255, 162, 0, 0.842);
}

//  testing
.css-yk16xz-control {
  border-color: #6c757d !important;
}
/**
 * Main wrapper
 */
.select-search {
  // width: 300px;
  margin-top: 20px;
  position: relative;
  font-family: "Nunito Sans", sans-serif;
  box-sizing: border-box;
}

.select-search *,
.select-search *::after,
.select-search *::before {
  box-sizing: inherit;
}

/**
* Value wrapper
*/
.select-search__value {
  position: relative;
  z-index: 1;
}

.select-search__value::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: calc(50% - 9px);
  right: 19px;
  width: 11px;
  height: 11px;
}

/**
* Input
*/
.select-search__input {
  display: block;
  height: 36px;
  width: 100%;
  padding: 0 16px;
  background: #fff;
  border: 1px solid transparent;
  box-shadow: 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  outline: none;
  font-family: "Noto Sans", sans-serif;
  font-size: 14px;
  text-align: left;
  text-overflow: ellipsis;
  line-height: 36px;
  -webkit-appearance: none;
}

.select-search__input::-webkit-search-decoration,
.select-search__input::-webkit-search-cancel-button,
.select-search__input::-webkit-search-results-button,
.select-search__input::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

.select-search__input:not([readonly]):focus {
  cursor: initial;
}

/**
* Options wrapper
*/
.select-search__select {
  background: #fff;
  box-shadow: 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.15);
}

/**
* Options
*/
.select-search__options {
  list-style: none;
}

/**
* Option row
*/
.select-search__row:not(:first-child) {
  border-top: 1px solid #eee;
}

/**
* Option
*/
.select-search__option,
.select-search__not-found {
  display: block;
  height: 36px;
  width: 100%;
  padding: 0 16px;
  background: #fff;
  border: none;
  outline: none;
  font-family: "Noto Sans", sans-serif;
  font-size: 14px;
  text-align: left;
  cursor: pointer;
}

.select-search--multiple .select-search__option {
  height: 48px;
}

.select-search__option.is-selected {
  background: #2fcc8b;
  color: #fff;
}

.select-search__option.is-highlighted,
.select-search__option:not(.is-selected):hover {
  background: rgba(47, 204, 139, 0.1);
}

.select-search__option.is-highlighted.is-selected,
.select-search__option.is-selected:hover {
  background: #000000;
  color: #fff;
}

/**
* Group
*/
.select-search__group-header {
  font-size: 10px;
  text-transform: uppercase;
  background: #eee;
  padding: 8px 16px;
}

/**
* States
*/
.select-search.is-disabled {
  opacity: 0.5;
}

.select-search.is-loading .select-search__value::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='50' height='50' viewBox='0 0 50 50'%3E%3Cpath fill='%232F2D37' d='M25,5A20.14,20.14,0,0,1,45,22.88a2.51,2.51,0,0,0,2.49,2.26h0A2.52,2.52,0,0,0,50,22.33a25.14,25.14,0,0,0-50,0,2.52,2.52,0,0,0,2.5,2.81h0A2.51,2.51,0,0,0,5,22.88,20.14,20.14,0,0,1,25,5Z'%3E%3CanimateTransform attributeName='transform' type='rotate' from='0 25 25' to='360 25 25' dur='0.6s' repeatCount='indefinite'/%3E%3C/path%3E%3C/svg%3E");
  background-size: 11px;
}

.select-search:not(.is-disabled) .select-search__input {
  cursor: pointer;
}

/**
* Modifiers
*/
.select-search--multiple {
  border-radius: 3px;
  overflow: visible;
}

.select-search:not(.is-loading):not(.select-search--multiple)
  .select-search__value::after {
  transform: rotate(45deg);
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  pointer-events: none;
}

.select-search--multiple .select-search__input {
  cursor: initial;
}

.select-search--multiple .select-search__input {
  border-radius: 3px 3px 0 0;
}

.select-search--multiple:not(.select-search--search) .select-search__input {
  cursor: default;
}

.select-search:not(.select-search--multiple) .select-search__input:hover {
  border-color: #000000;
}

.select-search:not(.select-search--multiple) .select-search__select {
  position: absolute;
  z-index: 2;
  top: 44px;
  right: 0;
  left: 0;
  border-radius: 3px;
  overflow: auto;
  max-height: 360px;
}

.select-search--multiple .select-search__select {
  position: relative;
  overflow: auto;
  max-height: 260px;
  border-top: 1px solid #eee;
  border-radius: 0 0 3px 3px;
}

.select-search__not-found {
  height: auto;
  padding: 16px;
  text-align: center;
  color: #888;
}

a:hover {
  color: #ffffff !important;
}

.modal-dialogg {
  margin-top: 10% !important;
  position: relative;
  width: auto;
  margin: 0.5rem;
  pointer-events: none;
  margin: auto !important;
}

.swal2-styled.swal2-confirm {
  // display: none!important;
  border: 0;
  border-radius: 0.25em;
  background: initial;
  background-color: #3085d6;
  color: #fff;
  font-size: 1.0625em;
}

.btn-warning,
.btn-secondary {
  color: #ffffff !important;
  background-color: #007bff !important;
  border-color: #007bff !important;
}
.btn-warning:hover {
  color: #ffffff !important;
  background-color: #373737 !important;
  border-color: #373737 !important;
}

.btn-danger {
  color: #ffffff !important;
  background-color: #f62d51 !important;
  border-color: #f62d51 !important;
}

.btn-success {
  color: #ffffff !important;
  background-color: #373737 !important;
  border-color: #373737 !important;
}
.btn-light {
  color: #212529 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.modal-title {
  color: #373737 !important;
}
.btn-secondaryy {
  color: #000000 !important;
  background-color: #ffffff !important;
  border-color: #000000 !important;
}
.px-0 {
  font-size: 14px !important;
  padding-left: 0rem !important;
  padding-right: 0rem !important;
}
.container,
.container-lg,
.container-md,
.container-sm,
.container-xl {
  max-width: 100% !important;
  touch-action: none;
  // margin-top: 20px!important;
}
.modal-dialog {
  // width: 80%!important;
  margin-top: 10% !important;
  position: relative;
  margin: 0.5rem;
  pointer-events: none;
  margin: auto;
  margin-left: auto !important;
  margin-right: auto !important;
}

.table {
  overflow-x: scroll !important;
  position: sticky !important;
  overflow-y: scroll !important;
}

@media only screen and (max-width: 600px) {
  .historyMargin {
    max-width: 95%;
  }
  .marginLeft {
    margin-left: 38px !important;
  }
  .margeenLeft {
    margin-left: 38px !important;
  }
  .swal2-popup {
    display: none;
    position: relative;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    width: 55% !important;
    padding: 1.25em;
    border: none;
    border-radius: 0.3125em;
    background: #fff;
    font-family: inherit;
    font-size: 10px !important;
    top: -100px;
    margin-top: 15%;
  }
}
@media only screen and (min-width: 850px) and (max-width: 1200px) {
  .marginLeft {
    margin-left: 33% !important;
  }
}
@media only screen and (min-width: 1201px) and (max-width: 1300px) {
  .marginLeft {
    margin-left: 36% !important;
  }
}
@media only screen and (min-width: 1301px) and (max-width: 1449px) {
  .marginLeft {
    margin-left: 38% !important;
  }
}
@media only screen and (min-width: 1450px) and (max-width: 1600px) {
  .marginLeft {
    margin-left: 40% !important;
  }
}
@media only screen and (min-width: 1601px) and (max-width: 1800px) {
  .marginLeft {
    margin-left: 40% !important;
  }
}
@media only screen and (min-width: 1801px) and (max-width: 1999px) {
  .marginLeft {
    margin-left: 41% !important;
  }
}
@media only screen and (min-width: 2000px) {
  .marginLeft {
    margin-left: 42% !important;
  }
}
@media only screen and (max-width: 849px) {
  .marginLeft {
    margin-left: 29% !important;
  }
}

@media only screen and (min-width: 700px) {
  .historyMargin {
    max-width: 49%;
  }
  .marginLeft {
    // margin-left: 93px !important;
  }
  .margeenLeft {
    margin-left: 60px !important;
  }
  .swal2-popup {
    display: none;
    position: relative;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    width: 25% !important;
    padding: 1.25em;
    border: none;
    border-radius: 0.3125em;
    background: #fff;
    font-family: inherit;
    font-size: 10px !important;
    top: -100px;
    margin-top: 15%;
  }
}
