// Core

body {
  .svg-map__location:focus,
  .svg-map__location {
    fill: #c1c1c1;
    cursor: pointer;
  }
  .profilePic {
    height: 160px;
    width: 160px;
    display: block;
    margin: auto;
  }
  .alignCnter {
    display: block;
    margin: auto;
  }
  .profileFlex {
    display: flex;
    width: 100%;
    display: block !important;
    margin: auto !important;
    margin-bottom: 30px !important;
  }
  .editprofile,
  .editprofile:hover {
    font: normal normal 600 12px/18px Poppins;
    color: white;
    width: 110px;
    background-color: #36383b;
    margin-right: 10px;
  }
  .changePassword,
  .changePassword:hover {
    font: normal normal 600 12px/18px Poppins;
    color: white;
    width: 200px;
    background-color: #36383b;
  }
  .editProfileLabel {
    font: normal normal bold 12px/16px Roboto;
    letter-spacing: 0px;
    color: #ff4326;
    margin-bottom: 10px;
    margin-top: 30px;
  }

  .editProfileTxt {
    padding: 10px;
    font: normal normal bold 14px/19px Roboto;
    letter-spacing: 0px;
    color: #000000;
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 2px solid #d9d9d9;
    border-radius: 5px;
  }
  .marginAdd {
    margin: 10px;
    height: 40px;
    width: 200px !important;
    position: absolute;
    right: 20px;
  }
  .col {
    padding: 0px !important;
  }
  .tableBox {
    // margin-left: -15px;
    // margin-right: -15px;
    margin-top: -10px;
    display: flex;
    width: 100%;
    height: 60px;
    background: #e8e8e8 0% 0% no-repeat padding-box;
    border-radius: 10px 10px 0px 0px;
    opacity: 1;
  }
  // .flexx {
  //   margin-top: 5%;
  //   width: 100%;
  //   display: flex;
  // }
  .rightFlex,
  .rightFlex:hover {
    font: normal normal normal 14px/21px Poppins !important;
    background: #373737;
    position: absolute;
    right: 8.9%;
    margin-top: -30px;
    color: white;
  }
  .rightFlex2,
  .rightFlex2:hover {
    font: normal normal normal 14px/21px Poppins !important;
    background: #373737;
    position: absolute;
    right: 16%;
    margin-top: -30px;
    color: white;
  }
  .autoHeight {
    height: auto !important;
  }
  .ageGender {
    border-radius: 5px;
    padding: 5px;
    background: grey;
    color: white;
    text-align: right;
  }
  .scrollarea .scrollbar-container,
  .scrollbar-container:hover {
    position: relative !important;
    height: 100%;
    opacity: 10 !important;
  }
  .scrollarea .scrollbar-container.active,
  .scrollarea .scrollbar-container:hover {
    background: none !important;
    opacity: 10 !important;
  }
  .content {
    margin-top: 0;
  }
  .contentOld {
    margin-top: 78px !important;
  }
  .contentNew {
    margin-top: 70px;
    padding: 2rem 2rem 1rem;
    display: flex;
    flex: 1 1;
  }
  .overFlowX {
    overflow-x: scroll !important;
  }
  .shadow-overflow::after,
  .shadow-overflow::before {
    background: none !important;
  }
  .app-footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    border-radius: 0px !important;
  }
  .lcAlign {
    margin: 0px 15px 15px 0px;
    float: left;
    width: 18px;
    height: auto;
    margin-top: -12px;
  }
  .rcAlign {
    width: 16px !important;
    display: block !important;
    margin: auto !important;
  }
  .textAlignRC {
    text-align: center;
  }
  .diseaseDiv {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 50px;
    display: flex;
  }
  .dReportButton {
    z-index: 1500;
    // margin-top: 70px;
    position: absolute;
    right: 0px;
    background: #c1c1c1 0% 0% no-repeat padding-box;
    opacity: 1;
    border-radius: 0px !important;
    text-align: left;
    font: normal normal normal 14px/21px Poppins;
    letter-spacing: 0px;
    color: #4b4b4b;
    opacity: 1;
    height: 40px;
  }
  .dReportButton:hover {
    background: #616161 0% 0% no-repeat padding-box;
    opacity: 1;
    border-radius: 0px !important;
    text-align: left;
    font: normal normal normal 14px/21px Poppins;
    letter-spacing: 0px;
    color: #ffffff !important;
    opacity: 1;
  }

  .dReport {
    text-align: left;
    font: normal normal normal 14px/21px Poppins;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
  }
  .dReport:hover {
    text-align: left;
    font: normal normal normal 14px/21px Poppins;
    letter-spacing: 0px;
    color: #4b4b4b;
    opacity: 1;
  }
  .diseaseText {
    text-align: left;
    font: normal normal bold 22px/33px Poppins;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
  }
  .deactiveView {
    opacity: 0.5;
  }
  .activeView {
    opacity: 1;
  }
  .pl-4,
  .px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  input[type="radio"],
  input[type="checkbox"] {
    background: #000000 0% 0% no-repeat padding-box;
    opacity: 1;
  }
  .btnFilter {
    background: grey;
    color: white !important;
    margin-left: 20px !important;
    border-radius: 5px !important;
    margin-top: 10px;
    height: 30px;
  }
  .locationResult {
    text-align: left;
    font: normal normal normal 14px/19px Roboto;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin: 5px;
  }
  .locationPercentage {
    text-align: center;
    font: normal normal bold 14px/19px Roboto;
    letter-spacing: 0px;
    color: #000000;
    margin-left: -10px;
  }
  .btnFilter:hover {
    background: #4b4b4b;
    color: white !important;
    margin-left: 20px !important;
    border-radius: 5px !important;
    height: 30px;
  }
  .textStyleFilter {
    margin: 20px;
    text-align: left;
    font: normal normal bold 13px/17px Poppins;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
  }
  .checkBoxMargin {
    margin-left: 20px;
    margin-top: 20px;
  }
  .checkBoxText {
    text-align: left;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
  }
  .flexItem {
    display: flex;
  }
  .css-2b097c-container,
  .css-14jk2my-container {
    display: block;
    min-width: 30%;
    margin: auto;
  }
  .toolTip:after {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    font-weight: 700;
    background: #f3f3f3;
    border: 1px solid #737373;
    color: #737373;
    margin: 4px 121px 0 5px;
    float: right;
    text-align: left !important;
  }
  .card-header {
    display: flex;
    align-items: center;
    background: white !important;
    border-radius: 0.65rem 0.65rem 0 0 !important;
  }
  .iconTxt {
    // text-align: left;
    font: normal normal normal 12px/18px Poppins;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
  }
  .imgIcon {
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 2px solid #000000;
    opacity: 1;
  }
  .percentageTxt {
    // text-align: left;
    font: normal normal bold 20px/30px Poppins;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
  }

  // *,
  // *::before,
  // *::after {
  //   border-radius: 15px !important;
  //   // box-shadow: #fff!important;
  // }
  .mb-4-spacing {
    box-shadow: none;
  }
  .svg-map__location[aria-checked="true"] {
    fill: #4b4b4b;
  }
  .svg-map__location:hover {
    fill: #4b4b4b;
    outline: 0;
  }
  .sBox {
    height: "35px";
    width: "55px";
    display: block;
    margin: auto;
  }
  .app-header {
    height: 78px;
    display: flex;
    flex-direction: row;
    border-radius: 0px !important;
    max-height: 90px;
    background: 0% 0% no-repeat padding-box padding-box rgb(193, 193, 193);
    text-align: left;
    font: bold 14px / 21px Poppins;
    letter-spacing: 0px;
    color: rgb(75, 75, 75);
    opacity: 1;
  }
  .dropdown_style {
    width: 30%;
    background: 0% 0% no-repeat padding-box padding-box rgb(255, 255, 255);
    border-radius: 15px;
    opacity: 1;
    margin: 10px;
  }
  .app-header-toolbar {
    height: 100%;
    flex: 1;
    display: flex;
    justify-content: space-between;
    // padding-left: ($spacer);
    // padding-right: ($spacer);

    .btn-inverse:hover {
      background: rgba(255, 255, 255, 0.07);
    }
  }

  .app-logo-img {
    width: 28px;
    height: 28px;
  }

  .app-logo-wrapper {
    display: flex;
    align-items: center;
  }

  .app-logo-btn {
    // padding: $spacer / 2;
    background: rgba(255, 255, 255, 0.05);

    &:hover {
      background: rgba(255, 255, 255, 0.08);
    }
  }

  .app-logo-link {
    text-decoration: none;
    // @include media-breakpoint-up(lg) {
    //   // margin-top: ($spacer * 2);
    // }
    // @include media-breakpoint-down(lg) {
    //   // margin-right: $spacer;
    // }
  }

  .app-logo-text {
    // font-size: $font-size-base;
    font-weight: bold;
    width: auto;
    display: block;
  }

  .toggle-sidebar-btn-mobile {
    display: none;
  }
}
@media only screen and (min-width: 1000px) and (max-width: 1679px) {
  .boxLeft {
    padding: 0px !important;
    width: 100%;
    display: block;
    margin-top: -30px;
    text-align: left;
    font: normal normal normal 12px/16px Roboto;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
    padding-left: 10% !important;
  }
}
@media only screen and (min-width: 1000px) and (max-width: 1279px) {
  .createUser {
    width: 55% !important;
  }
  .px-6 {
    width: 85% !important;
    padding-left: 0rem !important;
    padding-right: 0rem !important;
    display: block;
    margin: auto;
  }
  .membershipPlan {
    text-align: left;
    font: normal normal normal 12px/16px Roboto;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
  }
  .text-primary {
    font: normal normal bold 12px/16px Roboto !important;
    letter-spacing: 0px;
    color: #000000 !important;
  }
  .loginBackSide {
    width: 100%;
    margin: 0px;
    display: flex;
    box-shadow: 5px 10px #888888;
  }
  .MuiCircularProgress-colorPrimary {
    color: #f1eeee !important;
  }
  .loginBackGrey {
    display: none;
    width: 40%;
    background: #636363;
    color: #fafafa;
  }
  .loginBackWhite {
    display: block;
    margin: auto;
    width: 60% !important;
    background: #fafafa;
    color: #373737;
  }
  .loginUpper {
    margin: auto;
    height: 70vh;
    width: 70%;
    margin: 0px;
    display: flex;
  }
  .loginUpperLeft {
    box-shadow: 0 0 5px #4a4141;
    background: #8a8a8a;
    color: #ffffff;
    width: 70%;
    height: 55vh;
    margin: auto;
    margin-top: 30%;
    margin-left: 30%;
  }
  .loginUpperRight {
    box-shadow: 0 0 5px #757272;
    background: #ffffff;
    color: #373737;
    width: 70%;
    height: 55vh;
    display: block;
    margin: auto;
  }
  .loginField {
    border-radius: 5px !important;
    opacity: 1 !important;
    width: 400px !important;
    display: block !important;
    margin: auto !important;
  }
  .loginButtonPosition {
    right: 35px !important;
    position: absolute !important;
  }
  .loginTxt {
    text-align: center;
    font: normal normal bold 20px/26px Roboto;
    letter-spacing: 0px;
    color: #373737;
    opacity: 1;
    margin-left: 33%;
    margin-top: 15%;
    margin-bottom: 20px;
    display: inline-block;
    position: relative;
  }
  .loginTxt:after {
    position: absolute;
    content: "";
    border-bottom: 3px solid #fa4125;
    width: 100px;
    transform: translateX(-50%);
    bottom: -15px;
    left: 50%;
  }
  .loginClr {
    width: 150px;
    height: 40px;
    background: #636363 0% 0% no-repeat padding-box !important;
    border-radius: 5px;
    text-align: center;
    font: normal normal bold 15px/20px Roboto;
    letter-spacing: 0px;
    color: #fff !important;
    text-transform: uppercase;
    opacity: 1;
  }
  .MuiButton-label {
    // color: #000;
  }
  .white {
    color: white !important;
  }

  .MUIDataTable {
    overflow-x: "scroll";
  }

  .leftUpperBox {
    box-shadow: 0 0 5px #636363;
    background: #8a8a8a 0% 0% no-repeat padding-box;
    opacity: 0.75;
    height: 33.3%;
    width: 100%;
  }
  .displayFlex {
    padding-top: 30px !important;
    padding: 20px;
    display: flex;
    margin-bottom: 20px;
  }
  .basicTxt {
    text-align: center;
    font: normal normal bold 16px/21px Roboto;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
    width: 20%;
  }
  .basicTxt2 {
    text-align: right;
    font: normal normal bold 16px/21px Roboto;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
    width: 80%;
  }
  .amount {
    font: normal normal bold 20px/26px Roboto;
    color: #ffffff;
    opacity: 1;
  }
  .usd {
    font: normal normal normal 12px/16px Roboto;
    color: #ffffff;
    opacity: 1;
  }
  .boxLeft {
    padding: 20px;
    width: 100%;
    display: block;
    margin-top: -30px;
    text-align: left;
    font: normal normal normal 12px/16px Roboto;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
    padding-left: 10%;
  }
  .card-box .card-header--title {
    width: 100% !important;
    text-align: left !important;
  }
  #indexInfo {
    margin-top: 200px !important;
  }
  .app-footer {
    height: 60px !important;
    width: 100%;
    position: fixed;
    bottom: 0;
    border-radius: 0px !important;
  }
  .fixedFoot {
    border-radius: 0px !important;
    position: fixed;
    bottom: 0px;
    height: 40px;
    width: 100%;
  }
  .app-header-logo {
    height: 78px;
    margin-left: 30px !important;
    margin-bottom: 50px !important;
  }
  .headerRight {
    width: 50%;
  }
  .marginIcon {
    margin-left: 70%;
  }

  .mapMedium {
    margin: auto !important;
    display: block;
    margin-top: 2% !important;
  }
  .MuiGrid-grid-xs-12 {
    flex-basis: 50% !important;
  }
  .statUpdate {
    max-width: 425px !important;
    margin-left: 12% !important;
    margin-top: 15% !important;
    // width: 330px !important;
  }
  .dataStat {
    max-width: 50% !important;
  }
  .dropdown_style {
    margin-left: 35% !important;
    width: 55% !important;
  }
  .headerRight {
    width: 50%;
  }
  .marginIcon {
    margin-left: 70%;
  }
  .gridDashboard {
    margin: 0 !important;
    width: 100% !important;
  }
  .statsHead {
    font-size: 15px !important;
    width: 180px !important;
    border-radius: 0px !important;
  }
  .statsInfo {
    font-size: 25px !important;
  }

  //edit
  .MuiGrid-grid-lg-5 {
    flex-grow: 0 !important;
    max-width: 41.666667% !important;
    flex-basis: 41.666667% !important;
  }
  .MuiGrid-grid-lg-7 {
    flex-grow: 0 !important;
    max-width: 58.333333% !important;
    flex-basis: 58.333333% !important;
  }
  .textAlignRC {
    text-align: right !important;
  }
  .lcAlign {
    margin: 0px !important;
    float: none !important;
    width: 18px;
    height: auto;
    margin-top: -12px !important;
    margin-left: 20px !important;
  }
}

@media only screen and (min-width: 750px) and (max-width: 999px) {
  .card-box .card-header--title {
    width: 100% !important;
    text-align: center !important;
  }
  .pl-4,
  .px-4 {
    // width: 600px;
    display: block;
    margin: auto !important;
  }
  .app-footer--inner {
    position: fixed;
    bottom: 0;
  }
  .mapMedium {
    margin: auto;
    max-width: 85%;
    display: block;
  }
  .statUpdate {
    margin-left: -70px;
    // margin-top: 15%;
  }
  .dataStat {
    max-width: 50% !important;
  }
  .dropdown_style {
    margin-left: 25% !important;
    width: 65% !important;
  }
  .headerRight {
    width: 50%;
  }
  .marginIcon {
    margin-left: 70%;
  }
  .gridDashboard {
    width: 100% !important;
  }
  .dReportButton {
    margin-top: 0px !important;
  }
  .dropdown_style {
    margin-left: 25% !important;
    width: 65% !important;
  }
  .app-header-logo {
    height: 78px;
    margin-left: 30px !important;
    margin-bottom: 50px !important;
  }
}

@media only screen and (min-width: 1280px) {
  .dropdown_style {
    margin-left: -30% !important;
    width: 40%;
    border-radius: 15px;
    opacity: 1;
    margin: 10px;
    background: none !important;
  }
  // .createUser{
  //   width: 35%!important;
  // }
  .width50 {
    width: 40% !important;
  }
  .px-6 {
    width: 85%;
    padding-left: 0rem !important;
    padding-right: 0rem !important;
    display: block;
    margin: auto;
  }
  .membershipPlan {
    text-align: left;
    font: normal normal normal 12px/16px Roboto;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
  }
  .text-primary {
    font: normal normal bold 12px/16px Roboto !important;
    letter-spacing: 0px;
    color: #000000 !important;
  }
  .loginBackSide {
    width: 100%;
    margin: 0px;
    display: flex;
    box-shadow: 5px 10px #888888;
  }
  .MuiCircularProgress-colorPrimary {
    color: #f1eeee !important;
  }
  .loginBackGrey {
    display: none;
    width: 40%;
    background: #636363;
    color: #fafafa;
  }
  .loginBackWhite {
    width: 100% !important;
    background: #fafafa;
    color: #373737;
  }
  .loginUpper {
    margin: auto;
    height: 70vh;
    width: 70%;
    margin: 0px;
    display: flex;
  }
  .loginUpperLeft {
    box-shadow: 0 0 5px #4a4141;
    background: #8a8a8a;
    color: #ffffff;
    width: 70%;
    height: 55vh;
    margin: auto;
    margin-top: 30%;
    margin-left: 30%;
  }
  .loginUpperRight {
    box-shadow: 0 0 5px #757272;
    background: #ffffff;
    color: #373737;
    width: 40%;
    height: 55vh;
    display: block;
    margin: auto;
    margin-top: 10%;
  }
  .loginField {
    border-radius: 5px !important;
    opacity: 1 !important;
    width: 400px !important;
    display: block !important;
    margin: auto !important;
  }
  .h-full {
    // height: auto !important;
  }
  .loginButtonPosition {
    right: 35px !important;
    position: absolute !important;
  }
  .loginTxt {
    text-align: center;
    font: normal normal bold 20px/26px Roboto;
    letter-spacing: 0px;
    color: #373737;
    opacity: 1;
    margin-left: 33%;
    margin-top: 15%;
    margin-bottom: 20px;
    display: inline-block;
    position: relative;
  }
  .loginTxt:after {
    position: absolute;
    content: "";
    border-bottom: 3px solid #fa4125;
    width: 100px;
    transform: translateX(-50%);
    bottom: -15px;
    left: 50%;
  }
  .loginClr {
    width: 150px;
    height: 40px;
    background: #636363 0% 0% no-repeat padding-box !important;
    border-radius: 5px;
    text-align: center;
    font: normal normal bold 15px/20px Roboto;
    letter-spacing: 0px;
    color: #fff !important;
    text-transform: uppercase;
    opacity: 1;
  }
  .MuiButton-label {
    // color: #000;
  }
  .white {
    color: white !important;
  }

  .MUIDataTable {
    overflow-x: "scroll";
  }

  .leftUpperBox {
    box-shadow: 0 0 5px #636363;
    background: #8a8a8a 0% 0% no-repeat padding-box;
    opacity: 0.75;
    height: 33.3%;
    width: 100%;
  }
  .displayFlex {
    padding-top: 30px !important;
    padding: 20px;
    display: flex;
    margin-bottom: 20px;
  }
  .basicTxt {
    text-align: center;
    font: normal normal bold 16px/21px Roboto;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
    width: 20%;
  }
  .basicTxt2 {
    text-align: right;
    font: normal normal bold 16px/21px Roboto;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
    width: 80%;
  }
  .amount {
    font: normal normal bold 20px/26px Roboto;
    color: #ffffff;
    opacity: 1;
  }
  .usd {
    font: normal normal normal 12px/16px Roboto;
    color: #ffffff;
    opacity: 1;
  }
  @media print {
    .printElement {
      page-break-after: always;
    }
  }
  .boxLeft {
    padding: 20px;
    width: 100%;
    display: block;
    margin-top: -30px;
    text-align: left;
    font: normal normal normal 12px/16px Roboto;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
    padding-left: 10%;
  }
  .w-full {
    // width: auto !important;
  }
  .card-box .card-header--title {
    width: 100% !important;
    // text-align: center !important;
  }
  .scrollarea-content {
    // height: 900px;
    height: 100vh;
    overflow: auto !important;
  }
  #indexInfo {
    margin-top: 300px !important;
  }
  .app-footer--second {
    text-align: center;
    margin-top: 25px;
  }
  .dropdown_style {
    // margin-left: 65% !important;
  }
  .headerRight {
    width: 50%;
  }
  .marginIcon {
    margin-left: 70%;
  }
  .textAlignRC {
    text-align: right !important;
  }
  .lcAlign {
    margin: 0px !important;
    float: none !important;
    width: 18px;
    height: auto;
    margin-top: -12px !important;
    margin-left: 70px !important;
  }
  .dReportButton {
    margin-top: 0px !important;
  }
}

@media only screen and (max-width: 750px) {
  .dReportButton {
    display: none !important;
  }
  .card-box .card-header--title {
    width: 100% !important;
    text-align: center !important;
  }
  .pl-4,
  .px-4 {
    padding-left: 0rem !important;
    padding-right: 1rem !important;
  }
  .flexItem {
    display: inline !important;
  }
  .css-2b097c-container,
  .css-14jk2my-container {
    min-width: 100% !important;
    margin: auto !important;
    margin-bottom: 10px !important;
  }
  .header-logo-text {
    font-size: 1rem;
  }
  .app-header-logo {
    height: 78px;
    margin-left: 0px !important;
    display: inline !important;
    width: 100% !important;
  }
  .headerRight,
  .dropdown_style,
  .toggle-sidebar-btn-mobile {
    display: none !important;
  }
  #visitDashboardBtn {
    display: block;
    margin: auto;
  }

  #indexDescription {
    color: #707070;
    width: 98%;
    margin-left: 50%;
    transform: translate(-50%);
  }
  .svg-map {
    display: block;
    margin: auto;
    width: 80% !important;
    height: 90%;
    stroke: #666;
    stroke-width: 1;
    stroke-linecap: round;
    stroke-linejoin: round;
  }
  .app-footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    border-radius: 0px !important;
  }
  .marginIcon {
    margin-left: 30%;
  }
  .stats {
    width: 100%;
  }
  .diseaseBlock {
    padding-right: 0px;
    cursor: pointer;
    background-color: #e8e8e8;
    width: 97%;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
  }
  .diseaseBlock:hover {
    background-color: #2a2a2a;
    color: white;
    font-weight: 500;
  }
  .gridDashboard {
    width: fit-content;
    margin-top: 30px;
    display: grid;
    grid-template-areas: "map topDiseaseList stats" !important;
  }
}

.header-logo-text:hover {
  color: #2a2a2a !important;
}

// Core
body {
  .app-header-logo {
    height: 78px !important;
    margin-left: 150px;
    text-align: left;
    font-family: poppins;
    letter-spacing: 0px;
    height: 30px;
    color: #4b4b4b;
    opacity: 1;
    // height: $header-height;
    // width: $sidebar-width;
    width: 50%;
    // @include media-breakpoint-down(md) {
    //   display: none;
    // }

    display: flex;
    align-items: center;
    // background: rgba(255, 255, 255, 0.08);
    // padding-left: ($spacer);
    // padding-right: ($spacer);
    justify-content: space-between;
    transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
  }

  .app-header-logo-img {
    width: 32px;
    height: 32px;
  }

  .header-logo-wrapper {
    display: flex;
    align-items: center;
    height: 100%;
  }

  .header-logo-wrapper-btn {
    // padding: ($spacer / 3);
    // color: $white;
    background: rgba(255, 255, 255, 0.09);

    &:hover {
      background: rgba(255, 255, 255, 0.14);
    }
  }

  .header-logo-wrapper-link {
    text-decoration: none;
  }

  .header-logo-text {
    // padding-left: $spacer / 2;
    // font-size: $font-size-base * 1.1;
    font-weight: bold;
    width: auto;
    transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
  }
}

@media only screen and (max-width: 1000px) {
  .rightAlign {
    position: absolute;
    right: 35px;
  }
  .withRouter\(Connect\(SignIn\)\)-wrapper-4 {
    margin-top: 85px;
    position: absolute !important;
    right: 0px !important;
  }
  .membershipPlan {
    text-align: left;
    font: normal normal normal 12px/16px Roboto;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
  }
  .text-primary {
    font: normal normal bold 12px/16px Roboto !important;
    letter-spacing: 0px;
    color: #000000 !important;
  }
  .loginBackSide {
    background: #fafafa !important;
    width: 100%;
    margin: 0px;
    display: flex;
    box-shadow: 5px 10px #888888;
  }
  .MuiCircularProgress-colorPrimary {
    color: #f1eeee !important;
  }
  .loginBackGrey {
    display: none;
    width: 0%;
    background: #636363;
    color: #fafafa;
  }
  .loginBackWhite {
    display: block !important;
    margin: auto !important;
    width: 100% !important;
    background: #fafafa;
    color: #373737;
  }
  .loginUpper {
    margin: auto;
    height: 70vh;
    width: 70%;
    margin: 0px;
    display: flex;
  }
  .loginUpperLeft {
    box-shadow: 0 0 5px #4a4141;
    background: #8a8a8a;
    color: #ffffff;
    width: 70%;
    height: 55vh;
    margin: auto;
    margin-top: 30%;
    margin-left: 30%;
  }
  .loginUpperRight {
    display: block !important;
    margin: auto !important;
    box-shadow: 0 0 5px #757272;
    background: #ffffff;
    color: #373737;
    width: 70%;
    height: 55vh;
    margin-top: 20%;
  }
  .loginField {
    border-radius: 5px !important;
    opacity: 1 !important;
    width: 100% !important;
    display: block !important;
    margin: auto !important;
  }
  .loginButtonPosition {
    right: 35px !important;
    position: absolute !important;
  }
  .loginTxt {
    display: block !important;
    margin: auto;
    text-align: center;
    font: normal normal bold 20px/26px Roboto;
    letter-spacing: 0px;
    color: #373737;
    opacity: 1;
    padding-top: 15%;
    margin-bottom: 20px;
    position: relative;
  }
  .loginTxt:after {
    position: absolute;
    content: "";
    border-bottom: 3px solid #fa4125;
    width: 100px;
    transform: translateX(-50%);
    bottom: -15px;
    left: 50%;
  }
  .loginClr {
    width: 150px;
    height: 40px;
    background: #636363 0% 0% no-repeat padding-box !important;
    border-radius: 5px;
    text-align: center;
    font: normal normal bold 15px/20px Roboto;
    letter-spacing: 0px;
    color: #fff !important;
    text-transform: uppercase;
    opacity: 1;
  }

  .white {
    color: white !important;
  }

  .MUIDataTable {
    overflow-x: "scroll";
  }

  .leftUpperBox {
    box-shadow: 0 0 5px #636363;
    background: #8a8a8a 0% 0% no-repeat padding-box;
    opacity: 0.75;
    height: 33.3%;
    width: 100%;
  }
  .displayFlex {
    padding-top: 30px !important;
    padding: 20px;
    display: flex;
    margin-bottom: 20px;
  }
  .basicTxt {
    text-align: center;
    font: normal normal bold 16px/21px Roboto;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
    width: 20%;
  }
  .basicTxt2 {
    text-align: right;
    font: normal normal bold 16px/21px Roboto;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
    width: 80%;
  }
  .amount {
    font: normal normal bold 20px/26px Roboto;
    color: #ffffff;
    opacity: 1;
  }
  .usd {
    font: normal normal normal 12px/16px Roboto;
    color: #ffffff;
    opacity: 1;
  }
  .boxLeft {
    padding: 20px;
    width: 100%;
    display: block;
    margin-top: -30px;
    text-align: left;
    font: normal normal normal 12px/16px Roboto;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
    padding-left: 10%;
  }
}
