//  Core

.scroll-area {
  overflow-x: hidden;
  height: 90vh;
  z-index: 0;
}

.scroll-area-xs {
  height: 150px;
  overflow-x: hidden;
}

.scroll-area-sm {
  height: 215px;
  overflow-x: hidden;
}

.scroll-area-lg {
  height: auto;
  overflow-x: hidden;
}

.scroll-area-xl {
  height: 600px;
  overflow-x: hidden;
}

.scroll-area-x {
  overflow-x: auto;
  width: 100%;
  max-width: 100%;
}

.shadow-overflow {
  position: relative;

  &::after,
  &::before {
    width: 100%;
    bottom: auto;
    top: 0;
    left: 0;
    //   height: $spacer;
    position: absolute;
    z-index: 4;
    content: "";
    background: linear-gradient(
      to bottom,
      rgba($white, 1) 20%,
      rgba($white, 0) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$white', endColorstr='$white', GradientType=0);
  }

  &::after {
    bottom: 0;
    top: auto;

    background: linear-gradient(
      to bottom,
      rgba($white, 0) 0%,
      rgba($white, 1) 80%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$white', endColorstr='$white', GradientType=0);
  }
}

.shadow-overflow-horizontal {
  position: relative;

  &::after,
  &::before {
    //   width: $spacer;
    top: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    position: absolute;
    z-index: 4;
    content: "";
    background: linear-gradient(
      to right,
      rgba($white, 1) 20%,
      rgba($white, 0) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$white', endColorstr='$white', GradientType=0);
  }

  &::after {
    right: 0;
    left: auto;

    background: linear-gradient(
      to right,
      rgba($white, 0) 0%,
      rgba($white, 1) 80%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$white', endColorstr='$white', GradientType=0);
  }
}

//new css
#indexInfo {
  // height: 500px !important;
  margin-top: 130px;
  width: 100%;
  text-align: center;
}
#indexLogo {
  height: auto;
  display: block;
  margin: auto;
  width: 95px;
  margin-bottom: 30px;
}
#indexProName {
  position: relative;
  z-index: 1500 !important;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  margin-bottom: 30px;
}
#indexDescription {
  color: #707070;
  width: 60%;
  margin-left: 50%;
  transform: translate(-50%);
}
#visitDashboardBtn {
  margin-top: 50px !important;
  position: relative;
  cursor: pointer;
  border: none;
  background-color: #636363;
  color: white;
  padding: 12px 100px;
  border-radius: 50px !important;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 13px;
  margin-top: 20px;
}
#visitDashboardBtn:hover {
  cursor: pointer;
  border: none;
  background-color: #4b4b4b;
  color: white;
  padding: 12px 100px;
  border-radius: 50px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 13px;
  margin-top: 20px;
}

#mapBG {
  border-radius: 0px !important;
  height: 100% !important;
  width: 60% !important;

  margin-top: -14% !important;
  position: absolute !important;
  // height: 100%;
  // z-index: -100!important;
  margin-left: 50% !important;
  transform: translate(-50%) !important;
}
#mapBG2 {
  opacity: 1;
  border-radius: 0px !important;
  margin-top: 10% !important;
  position: relative !important;
  margin-left: 90% !important;
  transform: translate(-50%) !important;
}
.shadow-overflow {
  overflow: hidden;
  position: relative;
}
.topBarFlex {
  padding-left: 10px;
  background-color: #c1c1c1 !important;
  border-radius: 0px !important;
}
.topSearch{
  max-width: 40%!important;
  margin-top: 20px!important;
  height: 35px!important;
  display: block;
  margin: auto;
  border-radius: 15px!important ;
}
.jriPuz {
  width: 300px;
  position: relative;
  height: 46px;
  display: block;
  margin: auto;
  // margin-top: 15px;
}
.bg-map {
  width: 100%;
  height: auto;
  stroke: #666;
  stroke-width: 1;
  stroke-linecap: round;
  stroke-linejoin: round;

  &__location {
    fill: #c1c1c1 !important;
    cursor: pointer;

    &:focus,
    &:hover {
      fill: #c1c1c1 !important;
      outline: 0;
    }

    &[aria-checked="true"] {
      fill: #c1c1c1 !important;
    }
  }
}

.gridDashboard {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;

  display: grid;
  grid-template-areas: "topDiseaseList stats map";
  margin-top: 30px;
}
.diseaseBlock {
  cursor: pointer;
  background-color: #e8e8e8;
  padding: 15px 25px;
  width: 280px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  margin-bottom: 5px;
  margin-right: 20px;
}
.diseaseBlock:hover {
  background-color: #2a2a2a;
  color: white;
  font-weight: 500;
}
.topDiseaseList {
  /*background-color: pink;*/
  grid-area: topDiseaseList;
}
.stats {
  /*background-color: skyblue;*/
  width: 500px;
  grid-area: stats;
  padding: 30px;
}
.map {
  /*background-color: red;*/
  grid-area: map;
  width: 500px;
  text-align: center;
}

.statsHead {
  border-radius: 0px !important;
  color: #707070;
  width: 250px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  border-bottom: 1px solid #e2e2e2;
  margin-bottom: 0px;
}
.statsInfo {
  color: #707070;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 35px;
  margin-bottom: 60px;
}
#mapSVG {
  width: 90%;
  /*filter: drop-shadow(0px 3px 3px rgba(0,0,0,0.2));*/
}

* {
  margin: 0;
  padding: 0;
}
.container {
  // max-width:
}
.title {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

.gridDashboard {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;

  display: grid;
  grid-template-areas: "topDiseaseList stats map";
  margin-top: 30px;
}
.diseaseBlock {
  cursor: pointer;
  background-color: #e8e8e8;
  padding: 15px 25px;
  width: 280px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  margin-bottom: 5px;
  margin-right: 20px;
}
.diseaseBlock:hover {
  background-color: #4b4b4b;
  color: white;
  font-weight: 500;
}
.topDiseaseList {
  /*background-color: pink;*/
  grid-area: topDiseaseList;
}
.stats {
  /*background-color: skyblue;*/
  width: 500px;
  grid-area: stats;
  padding: 30px;
}
.map {
  /*background-color: red;*/
  grid-area: map;
  width: 500px;
  text-align: center;
}

.statsHead {
  color: #707070;
  width: 250px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  border-bottom: 1px solid #e2e2e2;
  margin-bottom: 0px;
}
.statsInfo {
  color: #707070;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 35px;
  margin-bottom: 60px;
}
#mapSVG {
  width: 90%;
  /*filter: drop-shadow(0px 3px 3px rgba(0,0,0,0.2));*/
}
